<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="test.day1" />
			<class name="test.day2">
				<methods>
					<exclude name="wishBirthday" />
				</methods>
			</class>
		</classes>
	</test> <!--
	Test -->
	<test name="Home Loan">
		<classes>
			<class name="test.day3">
				<methods>
					<include name="MobileLoginHomeLoan" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="Car Finance">
		<classes>
			<class name="test.day4"><methods><exclude name="API.*"></exclude></methods></class>
		</classes>
	</test>
</suite> <!--
Suite -->
